.splide__track {
  overflow: visible;
}
body::-webkit-scrollbar {
  width: 0px;
}
.pointer-events-none {
  pointer-events: none;
}
/*.splide__pagination {
  display: none !important;
}*/
.w-slider-nav.w-round > div {
  border-radius: 0;
}
.w-slider-dot {
  width: 2.5em;
  height: 0.25em;
  background-color: black;
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.w-slider-dot.w-active {
  background-color: #c5916c;
}

.margin-top-250px {
  margin-top: 250px;
}
.w-lightbox-backdrop {
  z-index: 99999999;
}
body .page_transition {
  display: block;
}
.w-editor .page_transition {
  display: none;
}
.no-scroll-transition {
  overflow: hidden;
  position: relative;
}
.splide__arrow {
  position: absolute;
  top: 41%;
  z-index: 50;
  background: transparent;
  padding: 20px;
}
.splide__arrow svg {
  width: 30px;
  height: 30px;
  fill: white;
}
.splide__arrow--prev {
  left: 2%;
}
.splide__arrow--next {
  right: 2%;
}
.splide__arrow--prev svg {
  transform: rotate(180deg);
}
.splide__slide {
  cursor: pointer;
}
.splide__pagination {
  display: none;
}
